/* global CSS */
/* :root {} */

/* searchbar CSS */
/* dropdown icon CSS */
.sidenav-trigger {
  color: white;
}

/* main card CSS */
.row {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  word-wrap: break-word;

}

.col {
  margin-bottom: 15px;
  justify-content: baseline;
}

.card-image {
  height: 70%;
  width: 50%;
  margin: auto;
}

.card{
  width: 100%;
  margin: 10px;
}