/* global CSS */
/* :root {} */

/* searchbar CSS */
.search-wrapper {
  display: flex;
  margin: 8px;
  justify-content: baseline;
  justify-content: center;
}

#search {
  max-width: 70%;
}

#searchicon {
  padding-top: 10px;
}

.btn {
  background-color: #f44336;
}

/* dropdown icon CSS */
.sidenav-trigger {
  left: 300px;
  color: white;
}

/* main card CSS */
.row {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;
  text-align: center;
  word-wrap: break-word;
}

.col {
  margin-bottom: 30px;
  justify-content: baseline;
}

.main-card-img {
  height: 70%;
  width: 70%;
  margin: auto;
}
